body{

color: #58585B;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
background-color: #E5E4E3;
background-image: url('../img/topbar.jpg');
background-repeat: repeat-x;
background-position: 0 -5px;
}
.container{
    max-width: 990px;
    box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.1);
}
.header_widgets{
    /*margin-top: 5px;*/
}
.header_widget{
    padding: 10px;
    min-width: 300px !important;
}
.header_widget h4 {
    font-size: 1.2em;
    margin-left: 5px;
}
.widget_body{
    margin-bottom: 20px;
}
.widget_body p{
    font-size: 0.8em;
}
.icon-2x{
    font-size: 0.8em;
}
.container-outline{

    background: #fff !important;
    border: 1px #DDDDDD solid;
}
.navbar-inner{
    background-color: #24408F !important;
}
.brand{
    padding: 0px !important;
    margin-left: 0px !important;
    height: 59px;
    font-size:5em;
}
.navbar .nav > li > a {
    height: 25px;
padding: 7px 7px 7px;
/* font-weight: bold; */
background-color: #404041;
font-family: 'Open Sans', sans-serif;
color: #fff;
text-transform: uppercase;
}
.nav-collapse{
   /* float:right;
*/}
.navbar .divider-vertical {
    height: 50px;
}
.btn{
    min-height: 30px;
}
.helpline h6, .helpline h6 a {
    color: #004080;
    font-family: 'Sintony', sans-serif;
    font-size: 15px;
}
.helpline h5{
    color:#24408F;
}
.helpline p a {
    color: #333;
    font-family: 'Alef', sans-serif;
    font-weight: normal;
}

.helpline i {
    position: relative;
    float: left;
}

.helpline p {
    margin-bottom: 10px;
}
.sidebar-widget h4{
    font-family: Vollkorn,serif;
}
h4{
    font-family: "Vollkorn", serif;
}
.brand_header img{
    height: 81px;

}
.brand_header{
    background-color: #fff;
    padding: 5px;
}
.zone_user{
    background-color: #ffffff;
    height: 22px;

    border-top: 3px solid #24408F
}
.date_zone{
    display: inline-block;
    font-size: 82%;
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
    width:182px;
    border: 1px #DDDDDD solid;
    margin-right: 50px;
}
.follow_us{
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 85%;
    line-height: 1.5;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.follow_us img{
    margin-left: 4px;
}
.custom-search-box{
    background: url(http://the-star.co.ke/sites/all/themes/thestar/images/icon-search.png) no-repeat 8px center #FFF;
    font-size: 115%;
    font-weight: bold;
    padding: 0px 0px 0px 24px !important;
    width: 270px;

    margin-bottom: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.form-submit{
    background: #FECD7B;
    border-radius: 0;
    border: 1px solid #FECD7B;
    color: #666;
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
    margin-left: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.navbar-inverse .navbar-inner .navigation-main {
    /*border: 1px #DDDDDD solid;*/
    background: #ffffff !important;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6)) !important;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 100%) !important;
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 100%) !important;
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 100%) !important;
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) !important;
}
#topbar{
background-color: #000000;
border-radius: 0;
border: none;
margin-bottom: 0;
height: 29px;
}
#topbar ul {
float: right !important;
margin-right: -15px;
padding-left: 0;
margin-bottom: 4px;
list-style: none;
}
#topbar ul > li {
float: left;
list-style: none;
line-height: 27px !important;

border-right: solid 1px #FECD8B;
}
#topbar ul > li > a {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 12px;
text-transform: uppercase;
padding-bottom: 5px;
padding-top: 5px;
padding-right: 4px;
padding-left: 4px;
color: #FECD8B;
margin-left: 10px;
}
#topbar ul > li:last-child {
    border-right: 0px;
}
.red_button{

color: #fff !important;
background-color: #d9534f !important;
border-color: #d43f3a !important;
}
.date-section{
float: right;
margin-bottom: 5px;
}
.red_button_round{
	border-radius: 4px;
	border: 1px solid #ccc;
	height: 35px;
	width: 45px;
}
.story_title{
    font-family: "Vollkorn", serif;
    margin-top:-5px;
}

#footer {
    background-color: #184B99;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow: hidden;
}
.bcolumn {
    margin: 5px;
    min-height: 230px;
    padding-left: 10px;
    background-image: url(../img/bcoumnbg.png);
    background-repeat: repeat;
    overflow: hidden;
}
.bcolumn a{
    color: #fff !important;
    font-size: 0.8em;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
#footer{
    background-color: #184B99;
}
.col-md-2 {
    width: 16.66666667%;
}
#copyright{
    font-size: 0.9em;
    text-align: center;
}
#copyright a {
    color: #FFDD17;
    text-decoration: underline;
}
.beside-thumb img{
    height: 172px !important;
}
.content-area{
    padding:12px;
}
.single-thumb img{
    width: 400px !important;
}
.assignment-icons.fa{
    font-size: 3em !important;
    margin-right: 20px !important;
}
.single-thumb {
    width: 400px !important;
    margin-right: 30px !important;
}
.assignment-icons{
    padding: 10px;
    overflow: hidden;
}
.icons-bit{
    background: #d1d1d1;
    float:left;
    width: 30%;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}
.header-wrapper .menu li a {
    padding: 0 15px;
}
.credit{
    border-top: 1px solid rgb(226, 226, 226);
    text-align: center;
    padding: 5px;
    background-color: #fff;
    height: 80px;
    margin: 10px;
}
.credit img{
    height:70px;
    vertical-align:middle
}
.credit-text{
    font-size: 1.4em;
    color: #184B99;
}
.credit a{
    text-decoration: none !important;
}
.contrib_button{
    border-radius: 5px;
    background: #D82C2D;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    width: 400px;
    margin: 0 auto;
}
.contrib_button a{
    color: #fff;
}
.contrib_button a:hover{
    color: #bbbbbb !important;
}
.contrib_button img{
    height:15px;
}
ul, ol {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none !important;
}
.site-footer{
    padding: 0 !important;
    width: 100% !important;
}
.contribution{
    text-align: center;
    font-size: 0.8em;
    color: #959595;
}
.contribution a{
    color: #959595;
}
.self_employed_notification{
    font-size: 0.8em;
    text-align: left;
}