@charset "utf-8";
/* CSS Document */
/*
  designer velvia
  date:25/6/2012
*/
html{
	height:100%;
}
body{
	padding:100px 0 0 0;
   background: url(../img/back3.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover; 
   -moz-background-size: cover; 
   -o-background-size: cover; 
   background-size: cover;
}
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}
.header{
	padding:30px 0 0 0;
}
.header .white_box{	
	background-color:#000;
}
.navbar .brand{
	color:#fff;

}
.nav-collapse{

}
.nav-collapse li{

}
.navbar-inner{
	opacity:0.8;
	filter:alpha(opacity=80);
	border-bottom:solid 1px #CECECE;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover{
	background-color:#000;
}
.white_box{
	position:relative;
	background-color:#fff;
	 -webkit-box-shadow: 0 0 10px #333;
     -moz-box-shadow: 0 0 10px #333;
	box-shadow: 0 0px 10px #333;	
	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
	
}

.carousel{
	margin:0;
	opacity:1;
	filter:alpha(opacity=100);
}
.carousel-caption{
	-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-bottomright: 6px;
border-bottom-right-radius: 6px;
}
.carousel .item > img{
	-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
}
.header .white_box .text{
	color:#fff;
	padding:15px;
	
}
.services{
	padding-top:50px;
	
}
.services .white_box{
	padding:15px;	
}
.services .white_box h2,p{
	opacity:1;
	filter:alpha(opacity=100);
}
.projects{
	color:#fff;
	text-shadow:0 1px 1px #000;
	padding-top:50px;
	text-indent:9999;
}
.projects h5{
	font-size:1.2em;
	line-height:2em;
}
.projects .thumbnail{
	background-color:#000;
	opacity:.9;
	filter:alpha(opacity=90);
}
.projects .thumbnails .span2 a,
.projects .thumbnails .span4 a{
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.projects .thumbnails .span2 a:hover,
.projects .thumbnails .span4 a:hover{
	-webkit-transition:All 1s ease-out;
-moz-transition:All 1s ease-out;
-o-transition:All 1s ease-out;
-webkit-transform: rotate(4deg) scale(1.2) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1.2) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1.2) skew(1deg) translate(10px);
}
.bg_about{
	padding:20px 0;
	background-color:#000;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.about{
	margin-top:30px;
}
.about h2{
	color:#ccc;
}
.about p{
	color:#999;
}
.container_footer{
	color:#fff;
	width:100%;
	background-color:#000;
	padding:20px 0;
	border-top:solid 1px #666;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.social-networking-icons {display:inline; width:auto;}
.social-networking-icons a {margin-left:2px; padding:0px; width:24px; height:24px;  display:inline-block; text-indent:-9999px; text-align:left; background:url(../img/icons.png);}
.ie7 .social-networking-icons a {display:inline;}
a.email:hover {background-position:0px 24px;}
a.facebook {background-position:-99px 0px;}
a.facebook:hover {background-position:-99px 24px;}
a.twitter {background-position:-75px 0px;}
a.twitter:hover {background-position:-75px 24px;}
a.dribbble {background-position:-124px 0px;}
a.dribbble:hover {background-position:-124px 24px;}
a.forrst {background-position:-149px 0px;}
a.forrst:hover {background-position:-149px 24px;}
a.vimeo {background-position:-50px 0px;}
a.vimeo:hover {background-position:-50px 24px;}
a.youtube {background-position:-25px 0px;}
a.youtube:hover {background-position:-25px 24px;}
a.linkedin {background-position:-174px 0px;}
a.linkedin:hover {background-position:-174px 24px;}
a.tumblr {background-position:-199px 0px;}
a.tumblr:hover {background-position:-199px 24px;}