.tabbed_content {
	background-color: #000000;
	width: 380px;	
}

.tabs {
	
	position: relative;
}

.tabs .moving_bg {
	
	background-color:#429893;
	
	position: absolute;
	width: 125px;
	z-index: 190;
	left: 0;
	padding-bottom: 29px;
	background-position: bottom left;
	background-repeat: no-repeat;
}

.tabs .tab_item {
	display: block;
	float: left;
	
	padding: 15px;
	
	width: 95px;
	color: #ffffff;
	text-align: center;
	z-index: 200;
	position: relative;
	cursor: pointer;
}

.tabbed_content .slide_content {
	overflow: hidden;
	background-color: #000000;
	padding: 10px;
	position: relative;
	width: 350px;
}

.tabslider {
	width: 5000px;
}

.tabslider ul {
	float: left;
	width: 320px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}

.tabslider ul a {
	color: #ffffff;
	text-decoration: none;
}

.tabslider ul a:hover {
	color: #aaaaaa;
}

.tabslider ul li {
	padding-bottom: 7px;
	list-style:none;
}